* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none; 
}

a {
    text-decoration: none;
}

.contact {
    width: 100%;
    background-color:white;
    position: relative;
}

header {
    display: grid;
    grid-template-columns: 12fr 1fr 1fr 1fr 3fr 3fr 1fr;
    padding: 0 5rem;
    align-items: center;
}

header .header-center .united-kingdom {
    width: 29.6px;
    height: 19.7px;
    object-fit: contain;
}

header .header-center .eng {
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 5.33;
    letter-spacing: normal;
    text-align: left;
    color: #28696f;
    margin: 0 20px 0 0;
}

header .header-center .back {
    width: 13.7px;
    height: 8.1px;
    object-fit: contain;
}

header .header-center .btn1 {
    width: 176px;
    height: 62px;
    border-radius: 4px;
    border: solid 2px #28696f;
    background-color: white;
    color: #28696f;
}

header .header-center .btn2 {
    width: 176px;
    height: 62px;
    border-radius: 4px;
    background-color: #ddc38e;
    border: solid 2px #ddc38e;
    color: white;
}

.wrapper1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f9fafb;
    align-items: center;
    padding: 5rem;
    position: relative;
    z-index: 1;
}

.wrapper1 .contact-us {
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 5.33;
    letter-spacing: normal;
    color: #28696f;
}

.wrapper1 .lets-have-a-chat {
    font-size: 60px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #163033;
}

.wrapper1 .feel-free {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    color: #8e8e8e;
}

.contact-form::placeholder {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: left;
    color: #8e8e8e;
}

input[type=text], input[type=email], textarea {
    border-radius: 4px;
    border: solid 1px #cfd0d1;
    background-color: white;
    width: 80%;
    margin-bottom: 2rem;
    cursor: default;
    box-shadow: none !important;
}

.wrapper1 textarea {
    cursor: default;
    resize: none;
    width: 80%;
    margin-bottom: 2rem;
}

input[type=submit] {
    border-radius: 4px;
    background-color: #ddc38e;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    padding: 8px;
    color: white;
    width: 80%;
    margin-bottom: 2rem;
    outline: none;
    border: none;
    cursor: default !important;
}

.wrapper1 .map-div {
    position: relative;
    width: 335px;
    height: 335px;
    width: 100%;
    height: 100%;
}

.wrapper1 .map-div .map {
    width: 100%;
    height: 762px;
}

.wrapper1 .map-div .top-right {
    position: absolute;
    right: -30px;
    top: -30px;
    width: 154px;
    height: 169px;
    background-color: #ddc38e;
    z-index: -1;
}

.wrapper1 .map-div .bottom-left {
    position: absolute;
    left: -30px;
    bottom: -30px;
    width: 154px;
    height: 169px;
    background-color: #28696f;
    z-index: -1;
}

.wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 6rem;
    padding: 5rem;
}

.wrapper2 .item-w2 {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 1rem;
    justify-self: center;
}

.wrapper2 .item-w2 .item1 {
    grid-row: 1 / 3;
}

.wrapper2 .item-w2 .item2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.wrapper2 .item-w2 .item3 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.wrapper2 .item-w2 .item1 img {
    justify-content: center;
    align-content: right;
}

.wrapper2 .item-w2 .item2 .wrap2-heading {
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #163033;
}

.wrapper2 .item-w2 .item3 .wrap2-para {
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #8e8e8e;
}

.wrapper3 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
	grid-gap: 5rem;
    padding: 5rem;
    justify-content: center;
}

.wrapper3 .item-w3 .wrap3-heading {
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #28696f;
    padding: 0.4rem;
    margin-top: 1rem;
}

.wrapper3 .item-w3 .wrap3-para {
    opacity: 0.5;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #163033;
    padding: 0 0.4rem;
}

.wrapper3 .item-w3 .para-1 {
    opacity: 0.5;
    display: flex;
    font-size: 14px;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 0;
}

.wrapper3 .item-w3 .list li {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: left;
    color: #28696f;
}

.wrapper3 .item-w3 .list .num {
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #28696f;
}

.wrapper3 .item-w3 .list li a {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: left;
    color: #28696f;
    text-decoration: none;
    cursor: default;
}

.wrapper3 .item-w3 .list .first-a {
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: left;
    color: #ddc38e;
}

.wrapper3 .item-w3 .logo-2 {
    padding-bottom: 1rem;
}

.wrapper3 .item-w3 .icons-1 a img {
    padding-right: 1.5rem;
}

.wrapper3 .item-w3 .input-group {
    width: 100%;
    padding: 0.4rem;
}

.wrapper3 .item-w3 .input-group input {
    padding: 0.4rem;
    height: 3rem;
    border-radius: 4px;
    background-color: rgba(221, 195, 142, 0.1);
    border: none;
}

.wrapper3 .item-w3 .input-group .input-group-append .input-group-text {
    background-color: #ddc38e;
}

.newsletter::placeholder {
    font-size: 14px;
    opacity: 0.5;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #163033;
}

.list li {
    padding: 0.4rem;
}

.icons-2 {
    display: none;
}

footer {
    width: 100%;
    height: 25px;
    background-color: #28696f;
}

@media only screen and (max-width: 600px) {
    
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0;
        padding: 3rem;
    }

    .header-center {display: none;}

    .wrapper1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0;
        padding: 3rem;
        position: relative;
        z-index: 1;
    }

    .wrapper1 .contact-us {
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
    }

    .wrapper1 .lets-have-a-chat {
        font-size: 24px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.75;
        letter-spacing: normal;
        color: #163033;
    }

    .contact-form::placeholder {
        font-size: 14px;
        line-height: 1.71;
    }

    input[type=text], input[type=email] {
        width: 100%;
        padding: 30px;
        cursor: default;
        box-shadow: none;
    }
    
    .wrapper1 textarea {
        resize: none;
        width: 100%;
        padding: 30px;
        cursor: default;
    }
    
    input[type=submit] {
        font-size: 18px;
        width: 100%;
        padding: 20px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        cursor: default !important;
        border: none;
    }

    .wrapper1 .map-div {
        position: relative;
        width: 100%;
        height: 335px;
        margin-top: 6rem;
    }

    .wrapper1 .map-div .map {
        width: 100%;
        height: 335px;
    }

    .wrapper1 .map-div .top-right {
        position: absolute;
        right: -20px;
        top: -20px;
        background-color: #ddc38e;
        z-index: -1;
    }

    .wrapper1 .map-div .bottom-left {
        position: absolute;
        left: -20px;
        bottom: -20px;
        background-color: #28696f;
        z-index: -1;
    }

    .wrapper2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding: 3rem;
    }

    .wrapper2 .item-w2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-gap: 10px;
        padding: 10px;
    }
    
    .wrapper2 .item-w2 .item1 {
        grid-area: 1 / span 3 / 2 / 4;
    }
    
    .wrapper2 .item-w2 .item2 {
        grid-area: 2 / span 3 / 2 / 4;
    }
    
    .wrapper2 .item-w2 .item3 {
        grid-area: 3 / span 3 / 4 / 4;
    }

    .wrapper2 .item-w2 .item1 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
    }

    .wrapper2 .item-w2 .item2 .wrap2-heading {
        font-size: 18px;
        line-height: 1.78;
        font-weight: 600;
        text-align: center;
    }

    .wrapper2 .item-w2 .item3 .wrap2-para {
        font-size: 14px;
        line-height: 1.71;
        justify-content: center;
        text-align: center;
    }

    .wrapper3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0;
        padding: 3rem;
    }

    .wrapper3 .item-w3 .logo-2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 2rem;
    }

    .wrapper3 .item-w3 .para-1 {
        opacity: 0.5;
        display: flex;
        font-size: 14px;
        line-height: 1.71;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 2rem;
    }

    .wrapper3 .item-w3 .para-2 {
        opacity: 0.5;
        display: flex;
        font-size: 14px;
        line-height: 1.5;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 2rem;
    }

    .wrapper3 .item-w3 .wrap3-heading {
        display: flex;
        font-size: 18px;
        line-height: 1.78;
        font-weight: 600;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem;
    }

    .wrapper3 .item-w3 .icons-2 {
        display: flex;
        justify-content: center;
        padding: 1.2rem;
    }

    .wrapper3 .item-w3 .icons-2 a img {
        padding: 1.2rem;
    }

    .wrapper3 .item-w3 .list li, .wrapper3 .item-w3 .list .num {
        text-align: center;
    }

    .list li a {
        text-decoration: none;
        color: #28696f;
    }

    .wrapper3 .item-w3 .input-group {
        width: 100%;
        padding: 0;
    }

    .icons-1 {display: none;}

    footer {
        width: 100%;
        height: 8px;
        background-color: #28696f;
    }
  }
